.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#details-container {
    display: none;
}

.list-group-item {
    border: none;
}